In [1]:
import pandas as pd

In [6]:
datos = {"nombre" : ["Bibiana", "Renzo", "Damian", "Trini"], "edad": [50, 27, 55, 22]}
datos

{'nombre': ['Bibiana', 'Renzo', 'Damian', 'Trini'], 'edad': [50, 27, 55, 22]}

In [8]:
df = pd.DataFrame(datos)
df

    nombre  edad
0  Bibiana    50
1    Renzo    27
2   Damian    55
3    Trini    22

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df["nombre"]

0    Bibiana
1      Renzo
2     Damian
3      Trini
Name: nombre, dtype: object

In [11]:
df.nombre

0    Bibiana
1      Renzo
2     Damian
3      Trini
Name: nombre, dtype: object

In [12]:
datos_empleados = {"nombre": ["Ana", "Luis", "Carlos"], "edad": [30,25,40]}

df= pd.DataFrame(datos_empleados)
print(df)

   nombre  edad
0     Ana    30
1    Luis    25
2  Carlos    40

In [14]:
df_empleados = pd.DataFrame({"nombre": ["Ana", "Luis", "Carlos"], "edad" : [30,25,40]})

shape_df = df_empleados.shape 
shape_df

(3, 2)

Ejercicio Tipos de Datos en Pandas 
Dado el DataFrame df_empleados creado en el ejercicio anterior:

La columna nombre debe contener los nombres de tres empleados: 'Ana', 'Luis' y 'Carlos'

La columna edad debe contener las edades correspondientes: 30, 25 y 40

Para explorar sus atributos principales: shape, columns, y index.

Utilizando las siguientes variables respectivamente: shape_df, columns_df, index_df

In [15]:
df_empleados = pd.DataFrame({"nombre": ["Ana", "Luis", "Carlos"], "edad" : [30,25,40]})

shape_df = df_empleados.shape 
columns_df = df_empleados.columns 
index_df = df_empleados.index 

print(shape_df)
print(columns_df)
print(index_df)

(3, 2)
Index(['nombre', 'edad'], dtype='object')
RangeIndex(start=0, stop=3, step=1)